# Lecture 4: Object-Oriented Programming (OOP)

# 1. Định nghĩa
OOP là một phương pháp lập trình mà trong đó các đối tượng thực tế được mô phỏng thành các đối tượng trong code.

Các đối tượng có **thuộc tính (attributes)** và **hành vi (methods)**, và chúng tương tác với nhau để thực hiện các chức năng trong chương trình.

## 1.1 Lớp
 Lớp là một bản thiết kế (blueprint) cho việc tạo ra các đối tượng. Mỗi lớp có thể chứa các thuộc tính (dữ liệu) và phương thức (hành vi).
 
 Cú pháp:
 
 class <tên_lớp>:
 
    # code

In [1]:
# Có thể tạo class rỗng bằng lệnh pass như bên dưới
class Car:
    pass

In [2]:
car1 = Car()

In [3]:
car1.brand

AttributeError: 'Car' object has no attribute 'brand'

In [4]:
car1.brand = "Toyota"

In [5]:
car1.model = "Camry"

In [6]:
car1.year = 2022

In [7]:
f"{car1.brand} {car1.model} {car1.year}"

'Toyota Camry 2022'

## 1.2 Constructor (initialize method)

In [8]:
class Car:
    def __init__(self, brand, model, year):
        self.brand = brand  
        self.model = model
        self.year = year

In [9]:
car1 = Car("Toyota", "Camry", 2022)
car2 = Car("Honda", "Accord", 2021)

In [10]:
f"{car2.brand} {car2.model} {car2.year}"

'Honda Accord 2021'

In [11]:
f"{car1.brand} {car1.model} {car1.year}"

'Toyota Camry 2022'

# Global attribute

In [12]:
class Car:
    price = "Unknown"
    def __init__(self, brand, model, year):
        self.brand = brand  
        self.model = model
        self.year = year

In [13]:
car1 = Car("Toyota", "Camry", 2022)
car2 = Car("Honda", "Accord", 2021)
car3 = Car("Ford", "Mustang", 2023)
car4 = Car("Chevrolet", "Malibu", 2020)
car5 = Car("Nissan", "Altima", 2019)
car1.price, car2.price, car3.price

('Unknown', 'Unknown', 'Unknown')

In [14]:
car1.price = 10**6
car1.price, car3.price

(1000000, 'Unknown')

In [15]:
Car.price = 10**6
car1.price, car2.price, car3.price

(1000000, 1000000, 1000000)

In [16]:
Car.brand = "Vin"
car1.brand

'Toyota'

In [17]:
car6 = Car("Nissan", "Altima", 2019)
car6.brand

'Nissan'

In [18]:
class Car:
    price = "Unknown"
    car_index = 1
    def __init__(self, brand, model, year):
        self.brand = brand  
        self.model = model
        self.year = year
        
        self.car_index = Car.car_index
        Car.car_index +=1

In [19]:
car1 = Car("Toyota", "Camry", 2022)
car2 = Car("Honda", "Accord", 2021)
car3 = Car("Ford", "Mustang", 2023)
car4 = Car("Chevrolet", "Malibu", 2020)
car5 = Car("Nissan", "Altima", 2019)

In [20]:
for car in [car1, car2, car3, car4, car5]:
    print(car.car_index)

1
2
3
4
5

## 1.3 Phương thức (method)

In [25]:
class Car:
    price = "Unknown"
    car_index = 1
    def __init__(self, brand, model, year):
        self.brand = brand  
        self.model = model
        self.year = year
        
        self.car_index = Car.car_index
        Car.car_index +=1
        
    def describe(self):
        return f"{self.year} {self.brand} {self.model}"

In [26]:
car1 = Car("Toyota", "Camry", 2022)
car2 = Car("Honda", "Accord", 2021)

In [27]:
car2.describe()

'2021 Honda Accord'

In [28]:
car2.year = 2024
car2.describe()

'2024 Honda Accord'

## Static method
Các method không dùng đến attribute của class

In [ ]:
Chatbot: username, age, hobby
Features:
+ Give name
+ Give hobby
+ Weather
+ Recommend

In [ ]:
class Chatbot:
    def __init__(self, username, age, hobby):
        self.username = None
        self.age = age
        self.hobby = None
        
    def give_name(self):
        pass

    def give_hobby(self):
        pass

    @staticmethod
    def get_data_from_database():
        # Get data
        
    def Recommend(self):
        self.get_data_from_database(key_id, query_value)
        pass

In [29]:
class Car:
    price = "Unknown"
    car_index = 1
    def __init__(self, brand, model, year):
        self.brand = brand  
        self.model = model
        self.year = year
        
        self.car_index = Car.car_index
        Car.car_index +=1
        
    def describe(self):
        return f"{self.year} {self.brand} {self.model}"

    def plus(a, b):
        return a+b

In [30]:
car2 = Car("Honda", "Accord", 2021)
car2.plus(3,4)

TypeError: plus() takes 2 positional arguments but 3 were given

In [31]:
class Car:
    price = "Unknown"
    car_index = 1
    def __init__(self, brand, model, year):
        self.brand = brand  
        self.model = model
        self.year = year
        
        self.car_index = Car.car_index
        Car.car_index +=1
        
    def describe(self):
        return f"{self.year} {self.brand} {self.model}"

    @staticmethod
    def plus(a, b):
        return a+b

In [32]:
car2 = Car("Honda", "Accord", 2021)
car2.plus(3.7,4.5)

8.2

# 1.4 Classmethod

* Classmethod là một loại phương thức trong Python có thể được gọi trên lớp (class) mà không cần tạo ra một đối tượng (instance) của lớp đó.

* Phương thức này nhận một tham số đầu tiên là cls, đại diện cho lớp hiện tại, cho phép bạn truy cập các thuộc tính và phương thức của lớp mà không cần một đối tượng cụ thể.

In [34]:
class Car:
    price = "Unknown"
    car_index = 1
    def __init__(self, brand, model, year):
        self.brand = brand  
        self.model = model
        self.year = year
        
        self.car_index = Car.car_index
        Car.car_index +=1
    
    def describe(self):
        return f"{self.year} {self.brand} {self.model}"

    @classmethod
    def from_string(cls, car_string):
        brand, model, year = car_string.split(", ")
        return cls(brand, model, int(year)).describe()

In [35]:
car = Car.from_string("Honda, Accord, 2021")

## 1.5 Các tính chất

### 1.5.1 Kế thừa (Inheritance): Cho phép tạo ra lớp mới từ lớp đã có.

In [36]:
class ElectricCar(Car): 
    def __init__(self, brand, model, year, battery_size):
        super().__init__(brand, model, year)
        self.battery_size = battery_size

    def describe_battery(self):
        print(f"This car has a {self.battery_size}-kWh battery.")

In [37]:
electric_car = ElectricCar("Tesla", "Model 3", 2023, 75)

In [38]:
electric_car.describe()

'2023 Tesla Model 3'

In [39]:
electric_car.describe_battery()

This car has a 75-kWh battery.

In [43]:
car1.describe_battery()

AttributeError: 'Car' object has no attribute 'describe_battery'

### 1.5.2 Đa hình (Polymorphism)

In [41]:
class ElectricCar(Car): 
     def start_engine(self):
        return "The electric car has started without the sound of the engine."   
         
class GasolineCar(Car):
    def start_engine(self):
        return "The gasoline car has started with the sound of the engine."

class HybridCar(Car):
    def start_engine(self):
        return "The hybrid car has started with both electric and gasoline engines."

In [42]:
cars = [
    ElectricCar("Tesla", "Model 3", 2023),
    GasolineCar("Toyota", "Camry", 2022),
    HybridCar("Honda", "Accord Hybrid", 2021)
]

for car in cars:
    print(car.start_engine())

The electric car has started without the sound of the engine.
The gasoline car has started with the sound of the engine.
The hybrid car has started with both electric and gasoline engines.

In [111]:
cars[0].describe_battery()

AttributeError: 'ElectricCar' object has no attribute 'describe_battery'

## 1.5.3 Tính đóng gói (Encapsulation)
Đóng gói là việc giấu thông tin chi tiết của đối tượng và chỉ cho phép tương tác với đối tượng thông qua các phương thức công khai (public methods).

### Protected (add _ )

In [45]:
class Car:
    def __init__(self, brand, model, year):
        self._brand = brand  
        self.model = model
        self.year = year

    def describe(self):
        return f"{self.year} {self._brand} {self.model}"

    def start(self):
        print(f"{self.describe()} is starting.")

In [46]:
car1 = Car("Toyota", "Camry", 2022)
car1.describe()

'2022 Toyota Camry'

In [48]:
car1._brand

'Toyota'

In [42]:
class Car:
    def __init__(self, brand, model, year):
        self._brand = brand  
        self.model = model
        self.year = year

    def describe(self):
        return f"{self.year} {self.brand} {self.model}"

    def start(self):
        print(f"{self.describe()} is starting.")

    # # Getter for brand
    # def get_brand(self):
    #     return self._brand

    # # Setter for brand
    # def set_brand(self, brand):
    #     self._brand = brand

    def describe(self):
        return f"{self.year} {self._brand} {self.model}"

In [43]:
car1 = Car("Toyota", "Camry", 2022)
car1.describe()

'2022 Toyota Camry'

In [44]:
car1._brand

'Toyota'

In [41]:
car1._brand = "Vin"
car1.describe()

'2022 Vin Camry'

## Private

In [49]:
class Car:
    def __init__(self, brand, model, year):
        self.__brand = brand  
        self.model = model
        self.year = year

    def describe(self):
        return f"{self.year} {self.__brand} {self.model}"

    def start(self):
        print(f"{self.describe()} is starting.")

In [50]:
car1 = Car("Toyota", "Camry", 2022)
car1.describe()

'2022 Toyota Camry'

In [51]:
car1.__brand

AttributeError: 'Car' object has no attribute '__brand'

## 1.6 Getter, Setter, Deleter

In [52]:
class Car:
    def __init__(self, brand, model, year):
        self.brand = brand  
        self.model = model
        self.year = year
        
    def describe(self):
        return f"{self.year} {self.brand} {self.model}"
    
    def format_brand(self):
        return "Brand: " + self.brand

In [53]:
car1 = Car("Toyota", "Camry", 2022)
car1.format_brand()

'Brand: Toyota'

In [54]:
class Car:
    def __init__(self, brand, model, year):
        self.brand = brand  
        self.model = model
        self.year = year
        
    def describe(self):
        return f"{self.year} {self.brand} {self.model}"

    @property
    def format_brand(self):
        return "Brand: " + self.brand

In [55]:
car1 = Car("Toyota", "Camry", 2022)
car1.format_brand

'Brand: Toyota'

In [56]:
car1.format_brand = "New brand"

AttributeError: can't set attribute

In [58]:
class Car:
    def __init__(self, brand, model, year):
        self.brand = brand  
        self.model = model
        self.year = year
        
    def describe(self):
        return f"{self.year} {self.brand} {self.model}"

    @property
    def format_brand(self):
        return "Brand: " + self.brand

    @format_brand.setter
    def format_brand(self, new_brand):
        self.brand = new_brand

    @format_brand.deleter
    def format_brand(self):
        self.brand = None

In [63]:
car1 = Car("Toyota", "Camry", 2022)
car1.format_brand = "Vin"
car1.format_brand

'Brand: Vin'

In [62]:
car1.format_brand

'Brand: Toyota'

In [64]:
del car1.format_brand

In [69]:
class Car:
    def __init__(self, brand, model, year):
        self.brand = brand  
        self.model = model
        self.year = year
        
    def describe(self):
        return f"{self.year} {self.brand} {self.model}"

    @property
    def format_brand(self):
        return "Brand: " + self.brand

    @format_brand.setter
    def format_brand(self, value):
        if not isinstance(value, str):
            raise ValueError("Brand must be a string.")
        self.brand = value

    @format_brand.deleter
    def format_brand(self):
        self.brand = None

In [70]:
car1 = Car("Toyota", "Camry", 2022)
car1.format_brand = 123

ValueError: Brand must be a string.

In [71]:
car1 = Car("Toyota", "Camry", 2022)
car1.format_brand = "123"
car1.format_brand

'Brand: 123'

## Ví dụ

In [12]:
class Book:
    def __init__(self, title, author, year):
        self.title = title
        self.author = author
        self.year = year
        self._is_checked_out = False  

    @property
    def is_checked_out(self):
        return self._is_checked_out

    def check_out(self):
        if self._is_checked_out:
            print(f"{self.title} is already checked out.")
        else:
            self._is_checked_out = True
            print(f"You have checked out {self.title}.")

    def return_book(self):
        if not self._is_checked_out:
            print(f"{self.title} is not checked out.")
        else:
            self._is_checked_out = False
            print(f"You have returned {self.title}.")

    def describe(self):
        return f"{self.title} by {self.author}, published in {self.year}. {'Checked out' if self._is_checked_out else 'Available'}"


class Library:
    def __init__(self):
        self.books = []

    def add_book(self, book):
        self.books.append(book)
        print(f"Added {book.title} to the library.")

    def remove_book(self, title):
        for book in self.books:
            if book.title == title:
                self.books.remove(book)
                print(f"Removed {title} from the library.")
                return
        print(f"{title} not found in the library.")

    def find_book(self, title):
        for book in self.books:
            if book.title == title:
                return book.describe()
        return f"{title} not found in the library."


library = Library()

book1 = Book("The Great Gatsby", "F. Scott Fitzgerald", 1925)
book2 = Book("1984", "George Orwell", 1949)

library.add_book(book1)
library.add_book(book2)

print(library.find_book("The Great Gatsby"))  # Tìm sách
book1.check_out()  # Mượn sách
print(library.find_book("The Great Gatsby"))  # Kiểm tra thông tin sách sau khi mượn
book1.return_book()  # Trả sách
print(library.find_book("1984"))  # Kiểm tra sách khác
library.remove_book("1984")  # Xóa sách
print(library.find_book("1984"))  # Kiểm tra sách đã xóa

# BTVN
Quản lý thông tin học sinh

Yêu cầu: Tạo một chương trình quản lý thông tin học sinh, bao gồm các lớp Student và School.

Chi tiết về các lớp:

## Lớp Student:

* Thuộc tính:

name (tên học sinh)

age (tuổi)

grade - điểm số

* Phương thức:

Getter và Setter cho các thuộc tính name và age.

add_grade(grade) - Thêm điểm vào danh sách điểm.

calculate_average() - Tính và trả về điểm trung bình của học sinh.

describe() - Mô tả thông tin của học sinh (tên, tuổi, điểm trung bình).

## Lớp School:

* Thuộc tính:
 
students (danh sách các đối tượng Student).

* Phương thức:

add_student(student) - Thêm học sinh vào danh sách.

remove_student(name) - Xóa học sinh khỏi danh sách theo tên.

find_student(name) - Tìm kiếm học sinh theo tên và trả về thông tin nếu có.

get_top_student() - Trả về học sinh có điểm trung bình cao nhất trong trường.

In [200]:
import pandas as pd
import numpy as np

num_students = 100

names = [f"Student {i+1}" for i in range(num_students)]

# Tạo tuổi ngẫu nhiên từ 15 đến 18
ages = np.random.randint(15, 19, size=num_students)

# Tạo điểm số ngẫu nhiên từ 0 đến 100
grades = np.random.uniform(0, 100, size=num_students)

# Tạo DataFrame
students_df = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'Grade': grades
})

students_df.head()

        Name  Age      Grade
0  Student 1   15  75.154022
1  Student 2   17  40.376372
2  Student 3   15  68.538742
3  Student 4   17  93.103769
4  Student 5   15  26.113013